.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  margin: 0 auto;
  width: $site-max-width;
  padding: $space;
  background: $white;
  flex: 1;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
